/* Font imports. */
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Architects+Daughter); /* Inconsolata: normal, bold; Architect's Daughter */

body {
	background-image:url(../images/bg_clay_green_tint.jpg);
	color: black;
	margin: 0;
	height:1000px;
}

#wrapper {
	color:rgba(230, 230, 230, 1.0);
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

#nav {
	position:fixed;
	height:2.25em;
	width:100%;
	z-index: 5000;
	font-family: 'Inconsolata', sans-serif;
	font-size:150%;
	background-color:rgba(45, 45, 45, 0.90);
}
/* Box of links inside of nav. */
#nav_link_box {
	margin:auto;
	position:relative;
	width:40em;
}
#nav_link_box a {	
	display:inline-block;
	float:left;
	margin-top:0.5em;
	margin-left:3%;
	margin-right:3%;

	color:inherit;
	text-decoration:none;
	opacity:0.85;
}
#wcdb_logo {
	font-family: 'Architects Daughter', cursive;
	color:#059FFF !important;
	padding-right:5%;
	margin-left:0.5% !important;
	float:left;
}
#wcdb_logo_bear {
	margin-top: 0.35em;
	float:left;
	width:3%;
}

#content {
	display:block;
	position:absolute;
	top:7.5%;
	left:0px;
	right: 0px;
	font-family: 'Inconsolata', sans-serif;
	padding-bottom: 2.5%;
}

#footer {
	text-align:center;
	background-color:rgba(45, 45, 45, 0.90);
	width:100%;
	padding-top:.05%;
	padding-bottom:.05%;
	font-size:1.05em;
	position:fixed;
	bottom:0px;
}

#footer a {
	opacity:0.80;
}

a {
	color:inherit;
	text-decoration:none;
}


/* 
===============
	Colors
===============
*/

.blue {
	color:#059FFF !important;
}

.yellow {
	color:#fdfc80 !important;
}

.light_grey {
	color:#CCC !important;
}

.grey {
	color:#999 !important;
}


