.common_container {
	float:left;
	margin-top: 1%;
	width: 100%;
	min-height: 400px;
	background-color: rgba(245, 245, 245, 0.40);
	position: relative;
}

.common_container p {
	text-indent:50px;
	color:#CCC !important;
}

h3 {
	color:white;
}

.common_box_small {
	float:left;
	display:inline-block;
	position: relative;
	padding:2.5%;
	width: 20%;
	height:300px;
	background-color: rgba(25, 25, 25, 0.90);
}

.common_box_medium {
	float:left;
	display:inline-block;
	position: relative;
	padding:2.5%;
	width: 45%;
	height:300px;
	background-color: rgba(25, 25, 25, 0.90);
}

.common_box_large {
	float:left;
	display:inline-block;
	position: relative;
	padding:2.5%;
	width: 70%;
	height:300px;
	background-color: rgba(25, 25, 25, 0.90);
}

.common_box_xl {
	float:left;
	display:inline-block;
	position: relative;
	padding:2.5%;
	width: 95%;
	height:300px;
	background-color: rgba(25, 25, 25, 0.90);
} 

.common_box_height {
	height:300px;
}

.no_padding {
	padding:0px;
}

.width_small {
	width:25%;
}
.width_medium {
	width:50%;
}
.width_large {
	width:75%;
}
.width_xl {
	width:100%;
}

.common_galleria { 
	width: 55%;
	height: 400px;
	background-color: black;
	float:left;
} 

.auto_height {
	height: auto;
}

.associated_container {
	color: black;
	width: 20.5%;
	height: 100%;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
}

.associated_crises {
	background-color: rgba(220, 31, 38, 0.50);
	height:400px;
}

.associated_people {
	background-color: rgba(0, 176, 236, 0.50);
	height:400px;
}

.associated_organizations {
	background-color: rgba(215, 113, 159, 0.50);
	height:400px;
}

.general_info_container {
	width: 35%;
	height: 96%;
	float: left;
	margin-right: 3%;

	padding: 2% 1.5% 2% 1.5%;

	background-color: rgba(25, 25, 25, 0.90);
	color: white;
	float: left;
}

.impact_container {
	background-color: rgba(245, 245, 245, 0.40);
	width: 52%;
	height: 100%;
	float: left;
	color: white;
}

#human_impact {
	background-color: rgba(25, 25, 25, 0.90);
	height: 40%;
	margin: 0% 0% 3% 0%;
	padding: 2% 3% 2% 3%;
}

#economic_impact {
	background-color: rgba(25, 25, 25, 0.90);
	height: 43%;
	margin: 3% 0% 0% 0%;
	padding: 2% 3% 2% 3%;
}

#history_box {
	width: 60%;
	background-color: rgba(25, 25, 25, 0.90);
}

#contact_box {
	width: 60%;
	background-color: rgba(25, 25, 25, 0.90);
}

#maps_box {
	height:400px;
	overflow:hidden;
}

.map {
	position: relative;
	display: inline-block;
}
.map a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.map iframe {
	width:100px;
	height:100px;
	border:0.25px solid thin;
	border-color: grey;
	background-color: rgba(65, 65, 65, 0.90);
}
#maps_box iframe {
	height:200px;
	width:200px;
}

#external_links_box {
	word-wrap:break-word;
	width: 97%;
	padding: 2% 1.5% 1% 1.5%;
	color: white;
	background-color: rgba(25, 25, 25, 0.90);
	height: 100%;
	max-height: 500px;
}

#citations_box {
	word-wrap:break-word;
	width: 97%;
	padding: 1% 1.5% 2% 1.5%;
	color: white;
	background-color: rgba(25, 25, 25, 0.90);
	height: 100%;
	max-height: 500px;
	/*margin-bottom: -5%;*/
}

li {
	margin-bottom: 10px;
}