
#container {
    width: 33%;
    display:inline-block;
    position: absolute;
    /*top:0;*/
    /*margin: 0% 1.5% 0% 1.5%; */
    margin-left:-50%;
}

#container2 {
    width: 33%;
    display:inline-block;
    position: absolute;
    margin-left:-18%;
    /*top:0;*/
    /*margin: 0% 1.5% 0% 1.5%; */

    /*
    static 	Default. Elements render in order, as they appear in the document flow
    absolute 	The element is positioned relative to its first positioned (not static) ancestor element
    fixed 	The element is positioned relative to the browser window
    relative 	The element is positioned relative to its normal position, so "left:20" adds 20 pixels to the element's LEFT position
    inherit 	The value of the position property is inherited from the parent element
    */

}


#container3 {
    width: 33%;
    display:inline-block;
    position: absolute;
    margin-left:15%;
    /*top:0;*/
    /*margin: 0% 1.5% 0% 1.5%; */
}



li {
	display: inline-block;
 	list-style-type:none;
	position:relative;
}

.item {
	display: inline-block;
	margin-bottom: 1%;
	margin-left:1%;
	max-width: 100%;
	max-height: 100%;
	/*position:relative;*/
}

.item img {
	display: inline-block;
	max-width: 90%;
	max-height: 80%;
	position:relative;
	border-radius:15px;
}

.grid-sizer{
	width:33.33%;
}


/*@media only screen and (max-width:1920px),
only screen and (max-device-width:1920px) {
	#shitpickle {
		width:1700px;
	}
}

@media only screen and (max-width:1199px),
only screen and (max-device-width:1199px) {
	#shitpickle {
		width:800px;
	}
}

@media only screen and (max-width:999px),
only screen and (max-device-width:999px) {
	#shitpickle {
		width:800px;
	}
}

@media only screen and (max-width:799px),
only screen and (max-device-width:799px) {
	#shitpickle {
		width:600px;
	}
}

@media only screen and (max-width:599px),
only screen and (max-device-width:599px) {
	#shitpickle {
		width:400px;
	}
}

@media only screen and (max-width:399px),
only screen and (max-device-width:399px) {
	#shitpickle {
		width:200px;
	}
}
*/




/*
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	#myContent {
		-moz-column-count: 5;
		-moz-column-gap: 0px;
		-webkit-column-count: 5;
		-webkit-column-gap: 0px;
		column-count: 5;
		column-gap: 0px;
		width: 1000px;
	}
	 
	#container {
		width: 1000px;
	}
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	#myContent {
		-moz-column-count: 4;
		-moz-column-gap: 0px;
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
		width: 800px;
	}
	 
	#container {
		width: 800px;
	}
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	#myContent {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 34;
		column-gap: 0px;
		width: 600px;
	}
	 
	#container {
		width: 600px;
	}
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#myContent {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		width: 400px;
	}
	 
	#container {
		width: 400px;
	}
}
/*
http://designshack.net/articles/css/masonry/
*/
