.container {
	width: 100%;
	margin-left:0px;
	margin-right: 0px;
	position: relative;
}


.column {
	padding-left:auto;
	padding-right:auto;
	color:green;
	position:relative;
	display:inline-block;
	width:33.33%;
	float: left;
	background-color: yellow;
}