#searchbar {
	margin-top: 1%;
	padding: 20px;
	display: block;
	position: relative;
	margin-left: 20%;
}
.searchbar_text_input {
	margin: 0;
	padding: 5px 15px;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	width:55%;
}
.searchbar_button {
	margin: 0;
	padding: 5px 15px;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	width:15%;
}
.searchbar_button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.searchbar_button::-moz-focus-inner {
  border: 0;
}


.results_header {
	margin-top: 1%;
	font-size: 125%;
	color: white;
	text-align: center;
	background-color: rgba(25, 25, 25, 0.70);
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.results_category {
	margin:2%;
	padding:2% 3% 2% 3%;
	background-color: rgba(15, 15, 15, 0.8);
	color:#CCC;
}

.results_crises h2, .results_crises h3 {
	color: rgba(200, 81, 88, 1);
}
.results_crises h3:hover {
	color: rgba(240, 121, 128, 1);
	text-decoration: underline;
}

.results_people h2, .results_people h3 {
	color: rgba(0, 176, 236, 1);
}
.results_people h3:hover {
	color: rgba(40, 216, 255, 1);
	text-decoration: underline;
}

.results_organizations h2, .results_organizations h3 {
	color: rgba(215, 113, 159, 1);
}
.results_organizations h3:hover {
	color: rgba(255, 153, 199, 1);
	text-decoration: underline;
}


