<div id = "crisis">
        <p>
                <h4>Name:</h4> 
                <ul><li>Baghdad Airstrike</li></ul>
        </p>
        <p>
                <h4>Kind:</h4> 
                <ul><li>War</li></ul>
        </p>
        <p>
                <h4>Locations:</h4> 
                <ul><li>New Baghdad, Baghdad, Iraq</li></ul>
        </p>
        <p>
                <h4>Human Impact:</h4> 
                <ul><li>12 civilians died, 2 children wounded</li></ul>
        </p>

        <h4>Organizations: </h4>
        <ul>
                <li>WikiLeaks</li>
        </ul>
        
        <h4>People:</h4> 
        <ul>
                <li>Bradley Manning</li>
                <li>Julian Assange</li>
        </ul>
        
        <h4>Links:</h4> 
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/July_12,_2007_Baghdad_airstrike">Wikipedia</a>
                </li>
                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/7/7c/July_12%2C_2007_Baghdad_airstrike_targets_%281%29.png">Wikimedia Image</a>
                </li>
        </ul>
</div>
