<div id = "organization">
        <p>
                <h4>Name:</h4> 
                <ul><li>Red Cross</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>Humanitarian</li></ul>
        </p>
        <p>
                <h4>Location:</h4>
                <ul><li>Geneva, Switzerland</li></ul>
        </p>
        <p>
                <h4>History:</h4>
                <ul><li>Founded in 1919</li></ul>
        </p>
        <p>
                <h4>Contact Info:</h4>
                <ul><li>Phone: 1-800-RED CROSS</li></ul>
        </p>

        <h4>Crises: </h4>
        <ul>
                <li>Swine Flu</li>
        </ul>
        
        <h4>Links:</h4>
        <ul>
                <li>
                <a href="http://www.redcross.org/">Official Website</a>
                </li>

                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag_of_Switzerland_%28Pantone%29.svg">Wikimedia Image</a>
                </li>
        </ul>
</div>
