<div id = "person">
        <p>
                <h4>Name:</h4> 
                <ul><li>George H. W. Bush</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>President of the United States</li></ul>
        </p>
        <p>     
                <h4>Location:</h4>
                <ul><li>United States</li></ul>
        </p>
        
        <h4>Crises:</h4> 
        <ul>
                <li>Exxon Valdez Oil Spill</li>
        </ul>
        
        <h4>Links:</h4>
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/George_H._W._Bush">Wikipedia</a>
                </li>

                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/George_H._W._Bush%2C_President_of_the_United_States%2C_1989_official_portrait.jpg/520px-George_H._W._Bush%2C_President_of_the_United_States%2C_1989_official_portrait.jpg">Wikimedia Image</a>
                </li>
        </ul>
</div>
