<div id = "person">
        <p>
                <h4>Name:</h4> 
                <ul><li>Bradley Manning</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>Private First Class</li></ul>
        </p>
        <p>     
                <h4>Location:</h4>
                <ul><li>United States</li></ul>
        </p>
        
        <h4>Crises:</h4> 
        <ul>
                <li>Exxon Valdez Oil Spill</li>
        </ul>

        <h4>Organizations:</h4> 
        <ul>
                <li>Iraq and Afghanistan Veterans of America</li>
                <li>WikiLeaks</li>
        </ul>
        

        <h4>Links:</h4>
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/Bradley_Manning">Wikipedia</a>
                </li>

                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Bradley_Manning_US_Army.jpg/614px-Bradley_Manning_US_Army.jpg" />Wikimedia Image</a>
                </li>
        </ul>
</div>
