<div id = "person">
        <p>
                <h4>Name:</h4> 
                <ul><li>Saddam Hussein</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>President of Iraq</li></ul>
        </p>
        <p>     
                <h4>Location:</h4>
                <ul><li>Iraq</li></ul>
        </p>
        
        <h4>Crises:</h4> 
        <ul>
                <li>Iraq War</li>
        </ul>
        
        <h4>Links:</h4>
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/Saddam_Hussein">Wikipedia</a>
                </li>

                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/f/f1/Iraq%2C_Saddam_Hussein_%28222%29.jpg">Wikimedia Image</a>
                </li>
        </ul>
</div>
