<!DOCTYPE html>
<html>


<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basestyle.css">

  {% block head %}
  {% endblock %}
</head>



<body>
<div id="wrapper">

<!-- header -->
<div id="header">
  <div id="nav">
  	<div id="nav_link_box">
  		<a href="index.html">Home</a>
  		<a href="crises.html">Crises</a>
  		<a href="people.html">People</a>
  		<a href="organizations.html">Organizations</a>
  	</div>
  </div> <!-- /nav -->
</div> <!-- /header -->


<!-- content -->
<div id="content">
  {% block content %}
  {% endblock %}
</div> <!-- /content -->


<!-- footer -->
<div id="footer">
</div> <!-- /footer -->


</div> <!-- /wrapper -->
</body>
</html>
