<!DOCTYPE html>
<html>


<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basestyle.css">

  <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>

  {% block head %}
  {% endblock %}
</head>



<body>
<div id="wrapper">

<!-- header -->
<div id="header">
  <center>
  <div id="nav">
  	<div id="nav_link_box">

      <img id="wcdb_logo_bear" src="{{ STATIC_URL }}images/bear.svg" />
  		<a class="hover_lightup hover_underline" id="wcdb_logo" href="index.html">WCDB</a>
  		<a class="hover_lightup hover_underline" href="crises.html">Crises</a>
  		<a class="hover_lightup hover_underline" href="people.html">People</a>
  		<a class="hover_lightup hover_underline" href="organizations.html">Organizations</a>
      <a class="hover_lightup hover_underline" href="about.html">About</a>
  	</div>
  </div> <!-- /nav -->
</center>
</div> <!-- /header -->


<!-- content -->
<div id="content">
  {% block content %}
  {% endblock %}
</div> <!-- /content -->


<!-- footer -->
<div id="footer">
</div> <!-- /footer -->


</div> <!-- /wrapper -->
</body>
</html>
