<!DOCTYPE html>
<html>


<head>
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basestyle.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettyPhoto.css" media="screen" charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.min.css" media="screen" charset="utf-8" />

  <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/galleria-1.2.9.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery.autoellipsis-1.0.10.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>

  {% block head %}
  {% endblock %}
  <title>Gummy Pandas: WCDB</title>
</head>



<body>
<div id="outer_wrapper">
<div id="inner_wrapper">


<div id="header">
  <div id="header_title">
      <a href="/index.html">
        <img id="wcdb_logo_bear" src="{{ STATIC_URL }}images/bear.svg" />
        <span id="wcdb_text">WCDB</span>
      </a>
  </div>
  
  <!-- Top navigation bar. -->
  <div id="topnav">
    <a id="topnav_crises" class="topnav_button" href="/crises.html"><span>CRISES</span></a>
    <a id="topnav_people" class="topnav_button" href="/people.html"><span>PEOPLE</span></a>
    <a id="topnav_organizations" class="topnav_button" href="/organizations.html"><span>ORGANIZATIONS</span></a>
    <a id="topnav_about" class="topnav_button" href="/about.html"><span>ABOUT</span></a>
    <a id="topnav_search" class="topnav_button" href="/search.html"><span>SEARCH</span></a>
  </div> 
</div>

<div id="page_header">
{% block page_header %}
{% endblock %}
</div>


<!-- Content. -->
<div id="content">
  {% block content %}
  {% endblock %}
</div>


<!-- Bottom navigation bar. -->
<div id="bottomnav">
  <ul>
    <a class="bottomnav_button" id="bottomnav_home" href="/index.html"><li><span>Home</span><img id="bottomnav_logo_bear" src="{{ STATIC_URL }}images/bear.svg" /></li></a>
    <a class="bottomnav_button" id="bottomnav_crises" href="/crises.html"><li><span>Crises</span></li></a>
    <a class="bottomnav_button" id="bottomnav_people" href="/people.html"><li><span>People</span></li></a>
    <a class="bottomnav_button" id="bottomnav_organizations" href="/organizations.html"><li><span>Organizations</span></li></a>
    <a class="bottomnav_button" id="bottomnav_about" href="/about.html"><li><span>About</span></li></a>
    <a class="bottomnav_button" id="bottomnav_search" href="/search.html"><li><span>Search</span></li></a>
    <a class="bottomnav_button" id="bottomnav_import_export" href="/import_export.html"><li><span>Import/Export</span></li></a>
  </ul> 
</div>


<!-- Footer. -->
<div id="footer">
  Presented by the <span class="blue"><a class="hover_lightup" href="/about.html">Illustrious Gummy Pandas.</a></span>
</div>


</div>
</div>
</body>
</html>
