
<div id = "crisis">
        <p>
                <h4>Name:</h4> 
                <ul><li>Hurricane Ike</li></ul>
        </p>
        <p>
                <h4>Kind:</h4> 
                <ul><li>Natural Disaster</li></ul>
        </p>
        <p>
                <h4>Location:</h4> 
                <ul><li>Turks and Caicos, Bahamas, Haiti, Dominican Republic, Cuba, Florida Keys, Mississippi, Louisiana, Texas, Mississippi Valley, Ohio Valley, Great Lakes region, Eastern Canada</li></ul>
        </p>
        <p>
                <h4>Human Impact:</h4> 
                <ul><li>Fatalities: 103 direct, 92 indirect</li></ul>
        </p>
        <p>
                <h4>Economic Impact:</h4> 
                <ul><li>37.5 billion (2008 USD)</li></ul>
        </p>

        <h4>Organizations: </h4>
        <ul>
                <li>Fema</li>
        </ul>
        
        <h4>People:</h4> 
        <ul>
                <li>Rene Preval</li>
        </ul>
        
        <h4>Links:</h4> 
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/Hurricane_Ike">Wikipedia</a>
                </li>
                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/c/c1/Hurricane_Ike_off_the_Lesser_Antilles.jpg">Wikimedia Image</a>
                </li>
        </ul>
</div>
