
<div id = "crisis">
        <p>Name: Iraq War</p>
        <p>Kind: War</p>
        <p>Location: Iraq </p>
        <p>Date: 2003-03-20</p>
        <p>Human Impact: Estimated violent deaths: 601,027</p>
        <p>Economic Impact: Estimated to cost 1.7 trillion USD</p>

        <p>Organizations: </p>
        <ul>
                <li>Iraq and Afghanistan Veterans of America</li>
                <li>Al-Queda</li>
        </ul>
        
        <p>People:</p> 
        <ul>
                <li>Saddam Hussein</li>
                <li>Osama Bin Laden</li>
        </ul>
        
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/Iraq_war">Wikipedia</a>
                </li>

                <li>
                <a href="https://maps.google.com/maps?q=iraq&bav=on.2,or.r_qf.&bvm=bv.48705608,d.aWc&biw=1600&bih=752&um=1&ie=UTF-8&hl=en&sa=N&tab=wl">Google Maps</a>
                </li>

                <li>
                <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UStanks_baghdad_2003.JPEG/300px-UStanks_baghdad_2003.JPEG">Wikimedia Image</a>
                </li>

                <li>
                <a href="http://media-1.web.britannica.com/eb-media/13/76313-004-ECF36817.jpg">Britannica</a>
                </li>

                <li>
                <a href="http://i2.cdn.turner.com/cnn/dam/assets/130314210342-08-iraq-war-horizontal-gallery.jpg">Image</a>
                </li>

                <li>
                <a href="https://www.facebook.com/pages/Iraq-War/112332505446235">Facebook</a>
                </li>

                <li>
                <a href="http://www.youtube.com/watch?v=gQmf3SleIRo">YouTube</a>
                </li>

                <li>
                <a href="https://twitter.com/TheIraqWar">Twitter</a>
                </li>
        </ul>
</div>
