
<div id = "crisis">
        <p>
                <h4>Name:</h4> 
                <ul><li>Iraq War</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>War</li></ul>
        </p>
        <p>     
                <h4>Location:</h4>
                <ul><li>Iraq</li></ul>
        </p>
        <p>
                <h4>Date:</h4>
                <ul><li>2003-03-20</li></ul>
        </p>
        <p>
                <h4>Human Impact:</h4>
                <ul><li>Estimated violent deaths: 601,027</li></ul>
        </p>
        <p>
                <h4>Economic Impact:</h4>
                <ul><li>Estimated to cost 1.7 trillion USD</li></ul>
        </p>

        <h4>Organizations: </h4>
        <ul>
                <li>Iraq and Afghanistan Veterans of America</li>
        </ul>
        
        <h4>People:</h4> 
        <ul>
                <li>George W. Bush</li>
                <li>Saddam Hussein</li>
        </ul>
        
        <h4>Links:</h4>
        <ul>
                <li>
                <a href="https://en.wikipedia.org/wiki/Iraq_war">Wikipedia</a>
                </li>

                <li>
                <a href="https://maps.google.com/maps?q=iraq&bav=on.2,or.r_qf.&bvm=bv.48705608,d.aWc&biw=1600&bih=752&um=1&ie=UTF-8&hl=en&sa=N&tab=wl">Google Maps</a>
                </li>

                <li>
                <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UStanks_baghdad_2003.JPEG/300px-UStanks_baghdad_2003.JPEG">Wikimedia Image</a>
                </li>

                <li>
                <a href="http://media-1.web.britannica.com/eb-media/13/76313-004-ECF36817.jpg">Britannica</a>
                </li>

                <li>
                <a href="http://i2.cdn.turner.com/cnn/dam/assets/130314210342-08-iraq-war-horizontal-gallery.jpg">Image</a>
                </li>

                <li>
                <a href="https://www.facebook.com/pages/Iraq-War/112332505446235">Facebook</a>
                </li>

                <li>
                <a href="http://www.youtube.com/watch?v=gQmf3SleIRo">YouTube</a>
                </li>

                <li>
                <a href="https://twitter.com/TheIraqWar">Twitter</a>
                </li>
        </ul>
</div>
