{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/crisis.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/common_data.css">
<script src="{{ STATIC_URL }}js/common_data.js"></script>
{% endblock %}



{% block page_header %}
    {% if crisis %}
        <p>{{crisis.name}}</p>
    {% else %}
        <p>Crisis is not available.</p>
    {% endif %}
{% endblock %}



{% block content %}
{% if crisis %}


    <div class="common_container">
        <div class="common_galleria" id="galleria">
            {% for image in imagesList %}
                {% if image.href %}
                    <img src="{{image.href}}" alt="{{image.name}}">
                {% else %}
                    <img src="{{image.embed}}" alt="{{image.name}}">
                {% endif %}
            {% endfor %}
            {% for video in videosList %}
                {% if video.href %}
                    <a href="{{video.href}}"></a>
                {% else %}
                    <a href="{{video.embed}}"></a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="associated_container associated_organizations">
            <h3>Associated Organizations:</h3>
            {% if associatedOrganizations %}
                <ul>
                    {% for name, slug in associatedOrganizations %}
                        <li><a href="/org/{{slug}}" class="yellow">{{name}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No associated organizations yet!</p>
            {% endif %}
        </div>

        <div class="associated_container associated_people">
            <h3>Associated People:</h3>
            {% if associatedPeople %}
                <ul>
                    {% for name, slug in associatedPeople %}
                        <li><a href="/person/{{slug}}" class="yellow">{{name}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No associated people yet!</p>
            {% endif %}
        </div>
    </div>

    <div class="common_container auto_height">
        {% if crisis.kind != "" or crisis.date != "" or crisis.time != "" or crisis.location != "" %}
            <div class="general_info_container">
                {% if crisis.kind != "" %}
                    <h3>Type:</h3> 
                    <ul><li class="light_grey">{{crisis.kind}}</li></ul>
                {% endif %}

                {% if crisis.date != "" %}
                    <h3>Date:</h3> 
                    <ul><li class="light_grey">{{crisis.date}}</li></ul>
                {% endif %}

                {% if crisis.time != "" %}
                    <h3>Time:</h3>
                    <ul><li class="light_grey">{{crisis.time}}</li></ul>
                {% endif %}

                {% if locations %}
                    {% if numLocations == 1 %}
                        <h3>Location:</h3>
                    {% else %}
                        <h3>Locations:</h3>
                    {% endif %}
                    <ul>
                    {% for location in locations %}
                        <li class="light_grey">{{location}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if resourcesNeeded %}
                    <h3>Resources Needed:</h3>
                    <ul>
                    {% for resource in resourcesNeeded %}
                        <li class="light_grey">{{resource}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if waysToHelp %}
                    <h3>Ways to Help:</h3>
                    <ul>
                    {% for way in waysToHelp %}
                        <li class="light_grey">{{way}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if humanImpact != "" or economicImpact != "" %}
            <div class="impact_container">
                {% if humanImpact %}
                    <div id="human_impact">
                        <h3>Human Impact:</h3>
                        <ul>
                            {% for impact in humanImpact %}
                                <li class="light_grey">{{impact}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if economicImpact %}
                    <div id="economic_impact">  
                        <h3>Economic Impact:</h3>
                        <ul>
                            {% for impact in economicImpact %}
                                <li class="light_grey">{{impact}}</li>
                            {% endfor %}
                        </ul>  
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if externalLinks %}
        <div class="common_container clearfix" id="external_links_box">
            <h3>External Links:</h3>
            <ol class="light_grey">
                {% for e in externalLinks %}
                    <li>
                        {% if e.name %}
                            <a href={{e.href}} name="{{e.name}}" target="_blank" class="yellow">{{e.name}}</a> 
                        {% else %}
                            <a href={{e.href}} target="_blank" class="yellow">{{e.href}}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>  
        </div>
    {% endif %}


{% endif %}
{% endblock %}