{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/crisis.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/common_data.css">
<script src="{{ STATIC_URL }}js/common_data.js"></script>
{% endblock %}



{% block page_header %}
    {% if crisis %}
        <p>{{crisis.name}}</p>
    {% else %}
        <p>Crisis is not available.</p>
    {% endif %}
{% endblock %}



{% block content %}
{% if crisis %}

    <div class="common_container">
        <div class="common_box" id="galleria_box"> 
            <div class="common_galleria">
                <img class="hover_lightup hover_underline" src="{{list.embed}}" alt="{{modelObject.name}}">
            </div>
        </div>

        <div class="associated_container associated_people">
            <h3>Associated People:</h3>
            <ul>
            {% for name,slug in people%}
                <li>
                <a href="/person/{{slug}}" class="hover_lightup hover_underline yellow">{{name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="associated_container associated_organizations">
            <h3>Associated Organizations:</h3>
            <ul>
            {% for name,slug in organizations%}
                <li>
                <a href="/org/{{slug}}" class="hover_lightup hover_underline yellow">{{name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="common_container">
        <div class="general_info_container">
            <h3>Type:</h3> <p>{{crisis.kind}}</p>
            <h3>Date:</h3> <p>{{crisis.date}}</p>
            <!-- <p>Time: {{crisis.time}}</p> -->
            <h3>Location:</h3> <p>{{location}}</p>
        </div>

        <div class="impact_container">
            <div id="human_impact">
                <h3>Human Impact:</h3>
                <p>{{humanImpact}}</p>
            </div>

            <div id="economic_impact">
                {% if economicImpact != "" %}
                    <h3>Economic Impact:</h3>
                    <p>{{economicImpact}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- <p>Resources Needed: {{crisis.resourcesNeeded}}</p>
    <p>Ways to Help: {{crisis.waytoHelp}}</p> -->

    <div>
        <div class="common_container" id="external_links_box">
            <h3>External Links:</h3>
            <ul class="light_grey">
                <li>
                    <a href={{externalLinks.href}} target="_blank" class="hover_lightup hover_underline yellow">{{externalLinks.href}}</a>   
                </li>
            </ul>  
        <div class="common_box">
    </div>
{% endif %}

{% endblock %}