{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">
{% endblock %}

{% block page_header %}
<p>A gallery of {{name}}.</p>
{% endblock %}

{% block content %}

<div id="gallery_container">
	<ul id="gallery_column">  
		{% if modelObjects %}
		    {% for modelObject, list in modelObjects %}	
		    	<li>
		    		<a href="{{type}}/{{modelObject.slug}}">
		    			<div class="gallery_image">
			    			<div class="text_overlay">
			    				<span class="text {{name}}">{{modelObject.name}}</span>
			    			</div>
				    		<img src="{{list.embed}}" alt="{{modelObject.name}}">
				    	</div>
			    	</a>
		    	</li>				   
		    {% endfor %}
		{% else %}
		    <p>No images are available.</p>
		{% endif %}
	 </ul> 
</div>

{% endblock %}



