{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
<center>
{% block content %}

<div class="container">

		<div class="column">
			{% if modelObjects %}
				<h1>Objects</h1>
			{% endif %}
			<ul id="myContent">  
				{% if modelObjects %}
				    {% for modelObject, list in modelObjects %}	
				    	<li>
				    		<img src="{{list.embed}}" alt="{{modelObject.name}}">
				    		<p>{{modelObject.name}}</p>
				    	</li>				   
				    {% endfor %}
				{% else %}
				    <p>No images are available.</p>
				{% endif %}

			 </ul> 
		</div>

</div>
</center> 


	


{% endblock %}



