{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">
{% endblock %}

{% block content %}

<div id="gallery_container">
	<ul id="gallery_column">  
		{% if modelObjects %}
		    {% for modelObject, list in modelObjects %}	
		    	<li>
		    		<a class="hover_lightup hover_underline" href="{{type}}/{{modelObject.slug}}">
			    		<img src="{{list.embed}}" alt="{{modelObject.name}}">
			    	</a>
		    	</li>				   
		    {% endfor %}
		{% else %}
		    <p>No images are available.</p>
		{% endif %}
	 </ul> 
</div>

{% endblock %}



