{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/import_export.css">
<title>Import/Export - Gummy Pandas: WCDB</title>
{% endblock %}

{% block page_header %}
<p>Facilities to import, export, and merge website data.</p>
{% endblock %}


{% block content %}

    {% if success_message %}
    <p>{{success_message}}</p>
    {% endif %}

    <p>Import:</p>

    <!-- Upload form. Note enctype attribute! -->
    <form action="file_import" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload XML File To Import" /></p>
        {% if not validated %}
            <p><input type="password" name="q" size="21" maxlength="120" placeholder="Enter password..."></p>
        {% endif %}
    </form>

    <p>Merge:</p>

    <!-- Upload form. Note enctype attribute! -->
    <form action="file_merge" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload XML File To Merge" /></p>
        {% if not validated %}
            <p><input type="password" name="q" size="21" maxlength="120" placeholder="Enter password..."></p>
        {% endif %}
    </form>

    <p>Export:</p>

    <p><a href="file_export" target="_blank"><input type="submit" value="Export Database to XML" /></a></p>

    <p>Queries:</p>
    <ul>
        <li><a href="static/query1.txt" target="_blank">Show all crises with the same type. ex) natural disaster</a></li>
        <li><a href="static/query2.txt" target="_blank">Show all organizations with three or more people</a></li>
        <li><a href="static/query3.txt" target="_blank">Show all organizations founded within the last half century (since 1963).</a></li>
        <li><a href="static/query4.txt" target="_blank">Show citations and external links associated with crisis</a></li>
        <li><a href="static/query5.txt" target="_blank">Show all people with videos associated with Red Cross</a></li>
        <li><a href="static/query6.txt" target="_blank">how all organizations related to crises that are natural disasters (using kind).</a></li>
        <li><a href="static/query7.txt" target="_blank">Crises whose kind value contains the word "shooting
    </a></li>
        <li><a href="static/query8.txt" target="_blank">Crises that took place in Texas (Location data should contain "Texas" or "TX")</a></li>
        <li><a href="static/query9.txt" target="_blank">Show the name and economic impact of natural disasters occuring after 2001.</a></li>
        <li><a href="static/query10.txt" target="_blank">Name, type, and location of all organizations (no duplicates).</a></li>
    </ul>

{% endblock %}