{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/import_export.css">
<title>Import/Export - Gummy Pandas: WCDB</title>
{% endblock %}

{% block page_header %}
<p>Facilities to import, export, and merge website data.</p>
{% endblock %}


{% block content %}

    {% if success_message %}
    <p>{{success_message}}</p>
    {% endif %}

    <p>Import:</p>

    <!-- Upload form. Note enctype attribute! -->
    <form action="file_import" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload XML File To Import" /></p>
        {% if not validated %}
            <p><input type="password" name="q" size="21" maxlength="120" placeholder="Enter password..."></p>
        {% endif %}
    </form>

    <p>Merge:</p>

    <!-- Upload form. Note enctype attribute! -->
    <form action="file_merge" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload XML File To Merge" /></p>
        {% if not validated %}
            <p><input type="password" name="q" size="21" maxlength="120" placeholder="Enter password..."></p>
        {% endif %}
    </form>

    <p>Export:</p>

    <p><a href="file_export" target="_blank"><input type="submit" value="Export Database to XML" /></a></p>

{% endblock %}