{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/import_export.css">
<title>Import/Export - Gummy Pandas: WCDB</title>
{% endblock %}

{% block page_header %}
<p>Facilities to import, export, and merge website data.</p>
{% endblock %}


{% block content %}

 <!-- List of uploaded documents -->
{% if documents %}
    <ul>
    {% for document in documents %}
        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <form action="file_upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>

{% endblock %}