{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
<center>
{% block content %}

<div class="container">

		<div class="column">
			<h1>Crises</h1>
			<ul id="myContent">  
				{% if crises %}
				    {% for crisis, list in crises %}	
				    	<li>
				    		<a class="hover_lightup hover_underline" href="{{crisis.slug}}">
					    		<img src="{{list.embed}}" alt="{{crisis.name}}">
					    		<p>{{crisis.name}}</p>
				    		</a>
				    	</li>				   
				    {% endfor %}
				{% else %}
				    <p>No crises are available.</p>
				{% endif %}

			 </ul> 
		</div>

		<div class="column">
			<h1>Peeps</h1>
			<ul id="myContent">  
				{% if people %}
				    {% for person, list in people %}
				    	<li>
				    		<a class="hover_lightup hover_underline" href="{{person.slug}}">
					    		<img src="{{list.embed}}" alt="{{person.name}}">
					    		<p>{{person.name}}</p>
					    	</a>		
				    	</li>		   
				    {% endfor %}
				{% else %}
				    <p>No peeps are available.</p>
				{% endif %}

			 </ul> 
		</div>

		<div class="column">
			<h1>Organizations</h1>
			<ul id="myContent">  
				{% if organizations %}
				    {% for org, list in organizations %}	
				    	<li>
				    		<a class="hover_lightup hover_underline" href="{{org.slug}}">
					    		<img src="{{list.embed}}" alt="{{org.name}}">
					    		<p>{{org.name}}</p>
					    	</a>
				    	</li>				   
				    {% endfor %}
				{% else %}
				    <p>No organizations are available.</p>
				{% endif %}

			 </ul> 
		</div>
</div>
</center> 


	


{% endblock %}



