{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block page_header %}
<p>Informing others about this world's perils.</p>
{% endblock %}


{% block content %}

<div class="content_container">
	<div class="galleria_container">
		
		{% if crises %}
		    {% for crisis, list in crises %}	
			    <img src="{{list.embed}}" alt="{{crisis.name}}">				   
		    {% endfor %}
		{% else %}
		    <p>No crises are available.</p>
		{% endif %}
	</div>
</div>


<div class="content_container">
	<div class="galleria_container right_container">
		
		{% if people %}
		    {% for person, list in people %}
			    <img src="{{list.embed}}" alt="{{person.name}}">  	   
		    {% endfor %}
		{% else %}
		    <p>No people are available.</p>
		{% endif %}
	</div>
</div>


<div class="content_container">
	<div class="galleria_container">
		
		{% if organizations %}
		    {% for org, list in organizations %}	
			    <img src="{{list.embed}}" alt="{{org.name}}">			   
		    {% endfor %}
		{% else %}
		    <p>No organizations are available.</p>
		{% endif %}
	</div>
</div>


<!-- <div class="container">

		<div id="content_wrapper">
			<div class="column_box">
				<div class="column">
					<ul class="column_content">  
						{% if crises %}
						    {% for crisis, list in crises %}	
						    	<li>
						    		<a class="hover_lightup hover_underline" href="crisis/{{crisis.slug}}">
							    		<img src="{{list.embed}}" alt="{{crisis.name}}">
							    		
						    		</a>
						    	</li>				   
						    {% endfor %}
						{% else %}
						    <p>No crises are available.</p>
						{% endif %}

					 </ul> 
				</div>

				<div class="column">
					<ul class="column_content">  
						{% if people %}
						    {% for person, list in people %}
						    	<li>
						    		<a class="hover_lightup hover_underline" href="person/{{person.slug}}">
							    		<img src="{{list.embed}}" alt="{{person.name}}">
							   
							    	</a>		
						    	</li>		   
						    {% endfor %}
						{% else %}
						    <p>No peeps are available.</p>
						{% endif %}

					 </ul> 
				</div>

				<div class="column">
					<ul class="column_content">  
						{% if organizations %}
						    {% for org, list in organizations %}	
						    	<li>
						    		<a class="hover_lightup hover_underline" href="org/{{org.slug}}">
							    		<img src="{{list.embed}}" alt="{{org.name}}">
							    
							    	</a>
						    	</li>				   
						    {% endfor %}
						{% else %}
						    <p>No organizations are available.</p>
						{% endif %}

					 </ul> 
				</div>
			</div>
			<div class="clear_both">
			</div>
		</div>

</div>
 -->

	


{% endblock %}



