{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block page_header %}
<p>Informing others about this world's perils.</p>
{% endblock %}


{% block content %}

<div class="index_content_container">
	<div class="index_galleria_container">
		
		{% if crises %}
		    {% for crisis, list, summary in crises %}	
		    	{% if summary != "" %}
			    	<img src="{{list.embed}}" name="{{crisis.name}}" slug="{{crisis.slug}}" text="{{summary}}" type="crisis" alt="{{crisis.name}}">				   
		    	}
		    	{% else %}
		    		<img src="{{list.embed}}" name="{{crisis.name}}" slug="{{crisis.slug}}" type="crisis" alt="{{crisis.name}}">
		    	{% endif %}
		    {% endfor %}
		{% else %}
		    <p>No crises are available.</p>
		{% endif %}
	</div>
	<a class="crisis_information galleria_image_information right_container">
		<div>
			<h3></h3>
			<p></p>
		</div>
	</a>
</div>
<div class="clearfix"></div>


<div class="index_content_container">
	<div class="index_galleria_container right_container">
		
		{% if people %}
		    {% for person, list, summary in people %}
			    {% if summary != "" %}
			    	<img src="{{list.embed}}" name="{{person.name}}" slug="{{person.slug}}" text="{{summary}}" type="person" alt="{{person.name}}">				   
		    	}
		    	{% else %}
		    		<img src="{{list.embed}}" name="{{person.name}}" slug="{{person.slug}}" type="person" alt="{{person.name}}">
		    	{% endif %}  	   
		    {% endfor %}
		{% else %}
		    <p>No people are available.</p>
		{% endif %}
	</div>
	<a class="person_information galleria_image_information">
		<div>
			<h3></h3>
			<p></p>
		</div>
	</a>
</div>
<div class="clearfix"></div>


<div class="index_content_container">
	<div class="index_galleria_container">
		
		{% if organizations %}
		    {% for org, list, summary in organizations %}	
			   {% if summary != "" %}
			    	<img src="{{list.embed}}" name="{{org.name}}" slug="{{org.slug}}" text="{{summary}}" type="org" alt="{{org.name}}">				   
		    	}
		    	{% else %}
		    		<img src="{{list.embed}}" name="{{org.name}}" slug="{{org.slug}}" type="org" alt="{{org.name}}">
		    	{% endif %}		   
		    {% endfor %}
		{% else %}
		    <p>No organizations are available.</p>
		{% endif %}
	</div>
	<a class="org_information galleria_image_information right_container">
		<div>
			<h3></h3>
			<p></p>
		</div>
	</a>
</div>
<div class="clearfix"></div>


	


{% endblock %}



