
<div id = "organization">
        <p>
                <h4>Name:</h4> 
                <ul><li>World Health Organization</li></ul>
        </p>
        <p>
                <h4>Kind:</h4>
                <ul><li>Public Health</li></ul>
        </p>
        <p>
                <h4>Location:</h4>
                <ul><li>Geneva, Switzerland</li></ul>
        </p>
        <p>
                <h4>History:</h4>
                <ul><li>Founded in 1948</li></ul>
        </p>
        <p>
                <h4>Contact Info:</h4>
                <ul><li>Phone: +41 22 791 2111</li></ul>
        </p>

        <h4>Crises: </h4>
        <ul>
                <li>Swine Flu</li>
                <li>Aids</li>
        </ul>
        
        <h4>Links:</h4>
        <ul>
                <li>
                <a href="http://www.who.int/en/">Official Website</a>
                </li>

                <li>
                <a href="https://upload.wikimedia.org/wikipedia/commons/8/89/Flag_of_WHO.svg">Wikimedia Image</a>
                </li>
        </ul>
</div>
