{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/organization.css">

{% endblock %}
{% block content %}

<div class="container">

    <div class="column">
        {% if org %}
            <h1>{{org.name}}</h1>  
            <img class="hover_lightup hover_underline" src="{{list.embed}}" alt="{{modelObject.name}}">
            <p>Type: {{org.kind}}</p>
            <p>Location: {{org.location}}</p>
            <p>History:  {{history}}</p>
            <p>Contact:  {{contact}}</p>
            <p>Crises:  {{crises}}</p>
            {% if people != "" %}
                   <p>People:  {{people}}</p>
            {% endif %}
            <p>External Links:
                <a href={{externalLinks.href}}>{{externalLinks.href}}</a>     
            </p>
                          

        {% else %}
            <p>Organization is not available.</p>
        {% endif %}
    </div>

</div>  

{% endblock %}