{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/organization.css">

{% endblock %}
{% block content %}

<div class="container">

    <div class="column">
        {% if org %}
            <h1>{{org.name}}</h1>  
            <img class="hover_lightup hover_underline" src="{{list.embed}}" alt="{{modelObject.name}}">
            <p><b>Type</b>: {{org.kind}}</p>
            <p><b>Location</b>: {{org.location}}</p>
            <p><b>History</b>: {{history}}</p>
            {% if contact != "" %}
                <p><b>Contact</b>:  {{contact}}</p>
            {% endif %}
                <ul> <b>Crisis Involved</b>:
                {% for name,slug in crises%}
                     <li><a href="/crisis/{{slug}}">{{name}}</a></li>
                {% endfor %}
                </ul>    
            {% if people != "" %}
                <ul> <b>Associated People</b>:
                {% for name,slug in people%}
                    <li><a href="/person/{{slug}}">{{name}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </p>
            <p><b>Link</b>:
                <a href={{externalLinks.href}} target="_blank">{{externalLinks.href}}</a>     
            </p>
                          

        {% else %}
            <p>Organization is not available.</p>
        {% endif %}
    </div>

</div>  

{% endblock %}