{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cop_plural.css">
<!-- <script src="{{ STATIC_URL }}js/index.js"></script>
 -->
{% endblock %}
{% block content %}
	<p>organizations!</p>
    <div id = "cop_plural">	
    {% for organization in organizations %}
        <p><a href="organizations/{{ organization.id }}/">{{organization}}</a></p>
        <p>{{organization.id}} <br>
        	{{organization.name}} <br>
        	{{organization.kind}} <br>
        	{{organization.location}} <br>
        	{{organization.history}}<br>
        	{{organization.contact}}<br>
        	{{organization.crises}} <br>
        	{{organization.people}} <br>
        	{{organization.common}}<br><br>
        </p>
    {% endfor %}
    </div>	
{% endblock %}