{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/person.css">

{% endblock %}
{% block content %}

<div class="container">

    <div class="column">
        {% if person %}
            <h1>{{person.name}}</h1>  
            <img class="hover_lightup hover_underline" src="{{list.embed}}" alt="{{modelObject.name}}">
            <p><b>Occupation:</b> {{person.kind}}</p>
            <p><b>Location:</b> {{person.location}}</p>
            <ul><b>Crisis Involved:</b>    
                {% for name,slug in crises%}
                     <li><a href="/crisis/{{slug}}">{{name}}</a></li>
                {% endfor %}   
            </ul>        
            {% if organizations != "" %}
                <ul><b>Associated Organizations:</b> 
                    {% for name,slug in organizations%}
                         <li><a href="/org/{{slug}}">{{name}}</a></li>
                    {% endfor %}  
                </ul>         
            {% endif %}
            <p><b>Links:</b>
                <a href={{externalLinks.href}} target="_blank">{{externalLinks.href}}</a>     
            </p>
           
        {% else %}
            <p>Person is not available.</p>
        {% endif %}
    </div>

</div>  

{% endblock %}