{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/person.css">

{% endblock %}
{% block content %}

<div class="container">

    <div class="column">
        {% if person %}
            <h1>{{person.name}}</h1>  
            <img class="hover_lightup hover_underline" src="{{list.embed}}" alt="{{modelObject.name}}">
            <p>Type: {{person.kind}}</p>
            <!-- <o>Location: {{person.location}} -->
            <p>Crises: {{crises}}</p>
            {% if organizations != "" %}
                <p>Organizations: {{organizations}}</p>                
            {% endif %}
            <p>External Links:
                <a href={{externalLinks.href}}>{{externalLinks.href}}</a>     
            </p>
           
        {% else %}
            <p>Person is not available.</p>
        {% endif %}
    </div>

</div>  

{% endblock %}