{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css">
<title>Search - Gummy Pandas: WCDB</title>
{% endblock %}

{% block page_header %}
<p>Search website for crises, organizations, and people.</p>
{% endblock %}


{% block content %}

	<form id="searchbar" method="GET">
	    <input type="text" class="searchbar_text_input" name="q" size="21" maxlength="120" value="{{query}}" placeholder="Enter search terms...">
	    <input type="submit" value="search" class="searchbar_button">
	</form>
	<div class="clearfix">

	{% if searched %}

		{% if query == '' %}
			<div class="results_header red">Please enter a valid search term.</div>
		{% else %}
			{% if not numberOfResults %}
				<div class="results_header">No search results were found for '{{query}}'.</div>
			{% else %}

				{% if numberOfResults == 1 %}
					<div class="results_header">1 result for '{{query}}':</div>
				{% else %}
					<div class="results_header">{{numberOfResults}} results for '{{query}}':</div>
				{% endif %}

				{% if foundCrises %}
					<div class="results_category results_crises">
						<h2>Matching crises:</h2>
						<ol>
							{% for crisis, matches in foundCrises.items %}
								<li>
									<a href="/crisis/{{crisis.slug}}"><h3>{{crisis.name}}</h3></a>
									<ul>
										{% for match, context in matches %}
											<li><span class="italic bold">{{match}}:</span> {{context}}</li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ol>
					</div>
				{% endif %}

				{% if foundPeople %}
					<div class="results_category results_people">
						<h2>Matching people:</h2>
						<ol>
							{% for person, matches in foundPeople.items %}
								<li><a href="/person/{{person.slug}}"><h3>{{person.name}}</h3></a></li>
								<ul>
									{% for match, context in matches %}
										<li><span class="italic bold">{{match}}:</span> {{context}}</li>
									{% endfor %}
								</ul>
							{% endfor %}
						</ol>
					</div>
				{% endif %}

				{% if foundOrgs %}
					<div class="results_category results_organizations">
						<h2>Matching organizations:</h2>
						<ol>
							{% for org, matches in foundOrgs.items %}
								<li><a href="/org/{{org.slug}}"><h3>{{org.name}}</h3></a></li>
								<ul>
									{% for match, context in matches %}
										<li><span class="italic bold">{{match}}:</span> {{context}}</li>
									{% endfor %}
								</ul>
							{% endfor %}
						</ol>
					</div>
				{% endif %}
			{% endif %}

		{% endif %}
	{% endif %}

{% endblock %}
