{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css">
{% endblock %}

{% block page_header %}
<p>Search website for crises, organizations, and people.</p>
{% endblock %}


{% block content %}

<form action="search" method="get">

  <label for="id_q">Search:</label>
	<input id="id_q" name="q" type="text">
	<input type="submit" value="Submit">

	{% if searched %}

		<p>Results for '{{ queryString }}':<p>

		<div>
			Matching crises:
			{% for crisis, matches in foundCrises.items %}
				<li><a href="/crisis/{{crisis.slug}}">{{crisis.name}} </a></li>
				{% for match, context in matches %}
					<p>match: {{match}}, context: {{context}}</p>
				{% endfor %}
			{% endfor %}
		</div>
		<div>
			Matching people:
			{% for person, matches in foundPeople.items %}
				<li><a href="/person/{{person.slug}}">{{person.name}} </a></li>
				{% for match, context in matches %}
					<p>match: {{match}}, context: {{context}}</p>
				{% endfor %}
			{% endfor %}
		</div>
		<div>
			Matching organizations:
			{% for org, matches in foundOrgs.items %}
				<li><a href="/org/{{org.slug}}">{{org.name}} </a></li>
				{% for match, context in matches %}
					<p>match: {{match}}, context: {{context}}</p>
				{% endfor %}
			{% endfor %}
		</div>

	{% endif %}

</form>

{% endblock %}
