<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/splashstyle.css"/>
		<title>Splash</title>
	</head>
	<body>
        <div id = "divheader">
        <h1 id="header">World Crisis Database</h1> 
        </div>
        <div id = "pages">
            <h2>Crises:</h2>
            {% for crisis in crises %}
                <p><a href="crises/{{ crisis.CrisisID }}/">{{crisis}}</a></p>
            {% endfor %}

            <h2>Organizations:</h2>
            {% for organization in organizations %}
                <p><a href="organizations/{{ organization.OrganizationID }}/">{{organization}}</a></p>
            {% endfor %}

            <h2>People:</h2>
            {% for person in people %}
                <p><a href="people/{{ person.PersonID }}/">{{ person }}</a></p> 
            {% endfor %}
        <div id = "team">
            <h3>Created by the illustrious Gummy Pandas:</h3>
                <ul>
                    <li>Young Seo</li>
                    <li>Hoang Pham</li>
                    <li>Honghui Choi</li>
                    <li>Zhen Yang</li>
                    <li>Russell Jahn</li>
                    <li>Arturo Lemus</li>
                </ul>
        </div>
	</body>
</html>
